@import url(mobile.css) (max-width:440px);
@import url(desktop.css) (min-width:440px);

body > header {
}

body > header > h1 { 
  color: #FFE17F;
  text-shadow: -1px 1px 2px black;
}

#dictionary { 
  background-color: #FFCB23;
}

/*

  some gradients

#0B67CB #001834

*/

/* some colors */
main {  }
#text {  }
#dictionary {  }
header, footer {  }

h1, h2, h3, h4 { 
  font-family: 'Helvetica';
  font-weight: normal;
}

